{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid py-5" id="contact">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="position-absolute text-uppercase text-primary">PORTFOLIO</h1>
            <br>
            <br>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form text-center">
                    <div id="success"></div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <input type="text" name="name" class="form-control p-4" placeholder="Company Name" required>
                            </div>
                            <div class="form-group col-sm-12">
                                <input type="text" name="location" class="form-control p-4" placeholder="location" required>
                            </div>
                            <div class="form-group col-sm-6">
                       
                                <label>Starting Date</label>
                                <input type="date" name="sdate" class="form-control p-4" placeholder="Starting Date" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Ending Date</label>
                                <input type="date" name="edate" class="form-control p-4" placeholder="Endind Date" required>
                            </div>
                          
                            <div class="control-group col-sm-12">
            
                                <textarea class="form-control py-3 px-4" name="description" rows="5" id="message" placeholder="Experience Details"
                                    required="required"
                                    data-validation-required-message="Please enter your message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            

                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
